MATCH (run:Run)-[:at_date]->(day:Day)<-[:has_day]-(month:Month)<-[:has_month]-(year:Year)
{% if year %}
WHERE year.year = {{ year }}
WITH run, year, month, day
{% endif %}
{% if month %}
WHERE month.month = {{ month }}
WITH run, year, month, day
{% endif %}
{% if day %}
WHERE day.day = {{ day }}
WITH run, year, month, day
{% endif %}
RETURN COUNT(run) AS num_runs