MATCH (year:Year)-[:has_month]->(month:Month)-[:has_day]->(day:Day)<-[:at_date]-(run:Run)-[timestamp:at_time]->(pose:Pose)
{% if selected_run %}
WHERE run.bagfile_location = "{{ selected_run }}"
{% endif %}
{% if timestamp %}
AND timestamp.time >= datetime(toString(year.year) + "-" + toString(month.month) + "-" + toString(day.day)
								+ "T" + "{{ timestamp }}" + "+0200").epochSeconds
{% endif %}
RETURN timestamp.time AS time, pose
ORDER BY time
{% if timestamp %}
LIMIT 1
{% endif %}