{% extends "get_dates_for_runs.jinja" %}
{% block condition %}
CALL {
    MATCH (g:Goal)<-[:has_goal]-(r:Run)
    WITH r as runs, COLLECT(g) AS goals
    WHERE all(g IN goals WHERE g.status = "SUCCEEDED")
    WITH DISTINCT runs
    MATCH (e:Experiment)<-[:executed_experiment]-(runs)
    WITH runs, COLLECT(e) AS exp
    WHERE all(e IN exp WHERE e.result = "FINISHED")
    WITH DISTINCT runs
    CALL apoc.path.subgraphAll(runs, {
            relationshipFilter: "at_time>",
            labelFilter: "-Failed|+Succeeded"
        })
        YIELD nodes
    WHERE any(node in nodes WHERE node:Succeeded)
    UNWIND [node IN nodes WHERE node:Run] as final_runs
    MATCH (y:Year)-[:has_month]->(m:Month)-[:has_day]->(d:Day)<-[:at_date]-(final_runs)
    RETURN DISTINCT y, m, d, final_runs AS runs
    } WITH y, m, d, runs
{% endblock %}