{% if intent == 'goal_status' %}
    MATCH (run:Run)-[timestamp:has_goal]->(goal:Goal)
{% elif intent == 'exp_status' %}
    MATCH (run:Run)-[timestamp:executed_experiment]->(exp:Experiment)
{% endif %}
WHERE run.bagfile_location = "{{ selected_run }}"
{% if intent == 'goal_status' %}
    RETURN timestamp.time AS time, goal.status AS goal_status, goal.type AS goal_type, goal.load_id AS load_id, goal.load_type AS load_type
{% elif intent == 'exp_status' %}
    RETURN timestamp.time AS time, exp.status AS exp_status, exp.type AS exp_type, exp.result AS exp_result
{% endif %}
ORDER BY time